<html>
    <body>
        <script type="text/javascript">
        function validation(){
            var name=document.getElementById("username")

            if(name.value.length==0)
            {
                alert("enter username")
                return false;
            }
            else{
                return true;
            }
        }
            </script>
        <form method="post" action="{% url 'forgotpasswordaction' %}">{% csrf_token %}
        <table>
            <tr>
                <td>username</td>
                <td><input type="text" name="username" id="username"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="submit" onclick="return validation()"></td>
            </tr>
        </table>
        </form>
    </body>
</html>