<html>
    <body>
        <form method="post" action="{% url 'resetpasswordaction' %}">{% csrf_token %}
        <table>
            <td><input type="hidden" name="username" value="{{data}}"></td>
            <tr>
                <td>newpassword</td>
                <td><input type="password" name="newpassword"></td>
            </tr>
            <tr>
                <td>confirmpassword</td>
                <td><input type="password" name="confirmpassword"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="submit"></td>
            </tr>
            
        </table>
        </form>
    </body>
    {% if messages %}
        {% for msg in messages %}
        <script>
            alert('{{msg}}')
        </script>
        {% endfor %}
    {% endif %}
</html>